.app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    height: fit-content;
}


.app_header{
    object-fit: contain;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
